@model Category

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>@Model.CategoryName</h1>
    <h2>Product</h2>
    <ul>
        @{
            foreach(Store u in Model.Seller)
            {
                <li>@u.Product.ProductName</li>
            }
        }
    </ul>
    <h3>Add Category</h3>
    <form action="/addToStore" method="post">
        <select class="form-select" name="ProductId" aria-label="Default select example" id="addCategory">
            <option selected hidden disabled>Open this select menu</option>
            @{
                foreach(Product o in ViewBag.AllProduct)
                {
                    <option value="@o.ProductId">@o.ProductName</option>
                }
            }
        </select><br><br>
        <input type="hidden" name="CategoryId" value="@Model.CategoryId">
        <button type="submit" class="btn btn-primary">Add</button>
    </form>
</body>
</html>