@model Product
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1 class="text-center">@Model.ProductName</h1>
    <h2>Categories</h2>
        <ul>
            @{
                foreach(Store u in Model.Seller)
                {
                    <li>@u.Category.CategoryName</li>
                }
            }
        </ul>
    <h3>Add Categories</h3>
    <form action="/addToStore" method="post">
        <select class="form-select" name="CategoryId" aria-label="Default select example" id="addCategory">
            <option selected hidden disabled>Open this select menu</option>
            @{
                foreach (Category u in ViewBag.AllCategories )
                {
                    <option value="@u.CategoryId">@u.CategoryName</option>
                }
            }
        </select><br><br>
        <input type="hidden" name="ProductId" value="@Model.ProductId">
        <button type="submit" class="btn btn-primary">Add</button>
    </form>
</body>

</html>