@model Funtime
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <a href="/dashboard">Dashboard</a>
    <h1>@Model.Title</h1>
    <h2>Event Coordinator: @Model.User.Name</h2>
    <h3>Description</h3>
    <p>@Model.Description</p>
    <h4>Participants:</h4>
    <ul>
        @{
            foreach (Guess u in @Model.GessesI)
            {
                <li>@u.UserI.Name</li>
            }
        }
    </ul>
    @{
            if (Model.UserId == ViewBag.UserID)
            {
                <a href="delete/@Model.FuntimeId">Delete</a>;
            }
            else if (Model.GessesI.Any(f => f.UserId == ViewBag.UserID))
                {
                    <a href="remove/@Model.FuntimeId">Leave</a>
                }
            else
            {
                <td><a href="addguess/@Model.FuntimeId">Join</a></td>
            }
        }
</body>

</html>