<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="d-flex justify-content-between align-items-center text-center" style="width: 200px;">
    <a href="/"><h3>Chefs</h3><a>  | <a href="dishes"><h3 class="ms-3">Dishes</h3></a>
    </div>
    | <a href="newdish">Add Dish</a>  |

    <div class="text-center">
    <h2>ALL DISHES</h2>
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Chef</th>
                <th scope="col">Tastiness</th>
                <th scope="col">Calories</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (Dish d in ViewBag.AllDishes)
                {
                <tr>
                    <td>@d.DishName</td>
                    <td>@d.MyChef.Firstname @d.MyChef.Lastname</td>
                    <td>@d.Tastiness</td>
                    <td>@d.Calories</td>
                </tr>
                }
            }
        </tbody>
    </table>
    </div>

</body>
</html>